@import '../../../styles/colors';

.cluster {
  margin-left: -20px !important;
  margin-top: -20px !important;
  width: 40px !important;
  height: 40px !important;
  z-index: 272 !important;
  outline: none !important;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: #{$primary}80;

  :global {
    .circle {
      width: 30px;
      height: 30px;
      margin-left: 5px;
      margin-top: 5px;
      text-align: center;
      border-radius: 15px;
      font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      background-color: #{$primary}CC;
    }

    .count {
      line-height: 30px;
    }
  }
}
