@import '../../../styles/colors';
.wrapper {
  width: 40vw;
  position: absolute;
  left: 0px;
  top: 100px;
  z-index: 1199;
  background: white;
  max-height: 90vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.observations {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background: $premium;
  font-weight: bold;
  text-align: center;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1202;
  color: #fff;
}

.title {
  flex: 6;
}

.closeButton {
  cursor: pointer;
  font-size: 25px;
  flex: 1;
}

@media (max-width: 1026px) {
  .wrapper {
    display: none;
  }
}
