.wrapper {
  background: #5a9449;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.teaser {
    color: white;
  display: inline;
  margin: 0;
}
