@import '../../styles/colors';
@import '../../styles/typography';

.wrapper {
  background: $primary;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
}

.teaser {
  color: white;
  display: inline;
  margin: 0;
}

.markerIcon {
  margin-right: 10px;
}

.markerText {
  font-size: 0.85em;
}
