$info: #337ab7;
$warning: #f37f2b;
$premium: #e9b537;
$danger: #e4454d;
$primary: #5a9449;

$black: #2a2a2a;
$dark-grey: #565656;
$silver: #a1a1a1;
$faded-grey: #c0c0c0;
$medium-grey: #d6d6d6;
$light-grey: #e8e8e8;
$background-grey: #ececec;
$lighten-grey: #f8f8f8;