@import '../../../styles/colors';
.wrapper {
    position: absolute;
    top: 110px;
    right: 60px;
    z-index: 999;
}

@media (max-width: 576px) {
    .wrapper {
        top: 200px;
        right: 10px;
    }
}