@import '../../../../styles/colors.scss';

.wrapper {
    border: 0.2px solid $faded-grey;
    margin-bottom: 12px;
    margin-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper:hover {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.observationText {
    cursor: pointer;
}

.observationText h4 {
    font-weight: bold;
    color: $dark-grey
}

.culturesDetailsWrapper small {
    margin-right: 30px;
}

.starsWrapper {
    position: absolute;
    bottom: 0px;
}

.image {
    max-width: 125px;
    height: 115px;
}