@import 'styles/typography';
@import 'styles/colors';

body {
  margin: 0;
  font-family: $paragraph-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}

p {
  font-family: $paragraph-font;
}

// Bootstrap extented

.btn-darken-primary {
  color: white !important;
  border: 1px solid white !important;
  background-color: $lighten-primary !important;

  &.outline {
    color: $primary !important;
    background: white !important;
    border: 1px solid $primary !important;
  }

  &:active,
  &:active:focus,
  &:active:hover,
  &:focus,
  &:hover {
    color: white !important;
    background: #72B351 !important;
  }
}

.btn-warning {

}
